.idea/
backend/bin/*
backend/obj/*
backend/bin-debug/
backend/obj-debug/
backend/*.user
backend/*.suo
backend/*.userprefs
backend/.vscode/
backend/.DS_Store
backend/*.log
backend/npm-debug.log*
backend/node_modules/
backend/bower_components/
backend/bower.json
backend/package.json
backend/*.sdf
backend/*.opensdf
backend/*.dbmdl
backend/*.jfm
backend/*.launch.cs
