.idea/
bin
docker-volumes
obj/
bin-debug/
obj-debug/
*.user
*.suo
*.userprefs
.vscode/
.DS_Store
*.log
npm-debug.log*
node_modules/
bower_components/
bower.json
package.json
*.sdf
*.opensdf
*.dbmdl
*.jfm
*.launch.cs